body{
    background-color: lightslategray;
    text-align: center;
}

.Welcome{
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid black;
    margin-left:25%;
    margin-top: 5%;
    background-color: lightgrey;
    width: 50%;

    
}

.Information{
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ErrorMessage {
    color: darkred;
    font-size: 0.6em; 
    font-family: 'Times New Roman', Times, serif;
}


